.navbar{
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex; 
    position: fixed;
    top: 0;
    z-index: 1000;
    text-decoration: none;

}

h1{
    font-style: italic;
    justify-content: center;
    align-items: center;
    display: flex;
}

.subtext {
    display: inline-block;
}

