
/* HEADER ELEMENTS */

.title {
    display: inline-flex;
    justify-content: space-between;
    padding-left: 10%;
    font-family: poppins, sans-serif;
    color: red;
    transition: all 1s;
}

title:hover{
    transform: scale(1.1);
}

.about {
    float: right;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 10%;
    font-family: poppins, sans-serif;
    transition: 1s;
}

/* COPY STYLING */
.landing{
    text-align: center;
    font-family: poppins, sans-serif;
    
}

p  {
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 30px;
    padding-left: 300px;
    padding-right: 300px;
}


/* ANCHOR TAG STYLING */
a {
    text-decoration: none;
    color: inherit;
} 

/* IMAGE PROPERTIES */
img {
    width: 1200px;
    height: 800px;
    transition: all 1s;
    border-radius: 20px;
    display: block;
    margin: auto
}

img:hover {
    transform: scale(1.05);
}    